.contents {
  margin: 0 200px 0 200px;
}

table {
  width: 1000px;
  border: 0.5px gray solid;
  font-size: 20px;
}

.title {
  display: inline;
}
th {
  background-color: rgb(31, 143, 31);
  color: white;
}

td {
  background-color: rgb(241, 241, 241);
  color: rgb(31, 143, 31);
}

.date {
  display: inline;
  font-size: 30px;
}

.add {
  display: inline;
  margin-left: 782px;
}
